.App {
  display: flex;
  min-height: 100vh;
}

.side_bar {
  background-color:aquamarine;
  min-width: 8rem;
}

.logo {
  width: 100px;
  height: 100px;
}

.sidebar__menu {
  margin-top: 10rem;
  background-color:white;
}

.nav_item {
  margin-top: 1rem;
}

/* dashboard elements */

.dashboard {
  width: 100%;
}

.navbar_dashboard {
  display: flex;
  padding-left: 1rem;
  height: 10%;
}

.dashboard_body {
  display: flex;
  height: 90%;
}

.dashboard_body_left {
  flex: 3 1 0;
}

.dashboard_summary_section {
  padding-left: 1rem;
  justify-content: space-around;
  height: 10%;
  display: flex;
  background-color: cornflowerblue;
}

.dashboard_data_section {
  display: flex;
  justify-content: space-around;
  height: 90%;
}

.scanNewBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 0;
  margin: 1rem;
  width: 12rem;
}

.graph_dashboard {
  padding-left: 1rem;
  height: 600px;
  width: 100%;
}

.categories_dashboard {
  padding-left: 1rem;
  width: 100%;
  border: black;
  border-width: 4px;
}

/* incomes, expenses page */

.incomeExpenseGraph {
  width: 100%;
  padding: 5rem;
  background-color: darksalmon;
}

/* Scan page */
.scan {
  display:flex;
  margin: 5em 5em 0 5em;
  width: 100%;
  justify-content: space-between;
}
.scan .photo-icon {
  display:flex;
  align-items:flex-end;
}

.scan .scan-form {
  display: flex;
  flex-direction: column;
  width: 30em;
  height: 22em;
  border: 1px solid black;
}

