.App {
  display: flex;
  min-height: 100vh;
}

.side_bar {
  background-color:aquamarine;
  min-width: 8rem;
}

.logo {
  width: 100px;
  height: 100px;
}

.sidebar__menu {
  margin-top: 10rem;
  background-color:white;
}

.nav_item {
  margin-top: 1rem;
}